body{
    background-color: #ABC9C6;
    color: #f9f9f9;
}

#bootstrap-overrides .bt-outline-primary{
    color: crimson;
    outline-color: chartreuse;
}

.quote-container{
    text-align: center;
    margin-top: 50px;
}