body{
    font-size: 95%;
    background-color: #000;
}
.bg-img{
    background-image: url(images/bgMountains.jpg);
}
.bg-box{
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.main-content2{
    height: auto;
    color: #787c85;
    font-family: "Baskerville", "Libre Baskerville", serif;
    padding-bottom: 50px;  
}

.quote-container{
    text-align: center;
    margin: 50px;
    text-shadow: 0px 0px 2px #fff;
}
#bg-image{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: relative;
}

#twitter-wrapper{
    text-align: right;
    padding: 5px; 
}

.link{
    color: #097AA3;
}
/* Headers ******/

h1 {
    font-size: 1.45em;
    font-weight: lighter;
    line-height: 1.35em;
}

h3{
    font-size: 1em;
}

/* button styles ******/
/* commented out btn-outline-primary bg color in boostrap */

#bootstrap-overrides .btn {
    color: #787c85;
    border-color: #787c85;
    text-shadow: 0px 0px 2px #fff;
}

#bootstrap-overrides .btn:hover{
    background-color: #787c85;
    color: #d7dbde;
    text-shadow: 0px 0px 0px;
} 

#bootstrap-overrides .btn:visited{
    color: #787c85;
    border-color: #787c85;
    background-color: transparent;
}

#bootstrap-overrides .btn:hover:visited{
    background-color: #787c85;
    color: #d7dbde;
} 

#getQuote{
    margin-top: 10px;
}

/* footer styles *****/
.flex-parent-push{
    position: absolute;
    top: 100%;
    width: 100%;
    
}
.flex-parent{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    min-height: 100%;
}
#footer{
    color: #bfc5ca;
    background-color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 95%;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: .5em;
    position: relative;
}
.footer-text{
    text-align: right;
    line-height: 2em;

